<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find irp6_control)/config/irp6_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/irp6" args="joint_state_controller
					  t_joint1_position_controller
					  t_joint2_position_controller
				          t_joint3_position_controller
					  t_joint4_position_controller
					  t_joint5_position_controller
					  t_joint6_position_controller
					  t_joint7_position_controller
					  tg_joint1_position_controller
					  p_joint1_position_controller
					  p_joint2_position_controller
				          p_joint3_position_controller
					  p_joint4_position_controller
					  p_joint5_position_controller
					  p_joint6_position_controller
					  pg_joint1_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/irp6/joint_states" />
  </node>

</launch>
